body {
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 22px;
}

section {
  display: grid;
  grid-template-columns: repeat(3, 153px);
  grid-template-rows: repeat(3, 153px);
  gap: 0.8rem;
  grid-template-areas:
    "green green blue "
    "fire yellow tent"
    "Camp Camp tent";
  justify-content: center;
  margin-top: 10rem;
  margin-bottom: 11rem;
}

.green,
.Camp-Nekter,
.light-blue,
img,
.yellow {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.green {
  background-color: #c7efc0;
}
.yellow {
  background-color: #efeac0;
}

.light-blue {
  background-color: #c0e7ef;
}

.Camp-Nekter {
  background-color: #efc9c0;
}

.green {
  grid-area: green;
}

.tent {
  grid-area: tent;
}

.Camp-Nekter {
  grid-area: Camp;
  padding-top: 2rem;
  padding-left: 2rem;
  box-sizing: border-box;
}

@media only screen and (min-width: 800px) {
  section {
    display: grid;
    grid-template-columns: repeat(3, 153px);
    /* grid-template-rows: repeat(3, 195px); */
    grid-template-areas:
      "green green green"
      "blue fire tent"
      "Camp yellow tent";
  }

  img {
    object-fit: cover;
  }
  h1 {
    font-size: 20px;
  }

  p {
    margin: 0;
  }

  .Camp-Nekter {
    padding: 0;
    padding: 2rem 1rem;
    box-sizing: border-box;
  }
}
